#my-note {

    .my-form-note {
        background-color: white;
        padding: 3rem;
        padding-top: 3.5rem;
        padding-bottom: 2.5rem;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 31px 5px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 0px 0px 31px 5px rgba(0, 0, 0, 0.33);
        box-shadow: 0px 0px 31px 5px rgba(0, 0, 0, 0.33);

        h4 {
            font-size: 4rem;
        }

        textarea {
            font-size: 18px;
            width: 60%;
            margin: 0 auto;
            border: 1px solid #398FDC;
        }

        button {
            background-color: #229BE9;
            color: white;
            font-size: 16px;
            font-weight: 700;
            padding: 1rem;
            width: 50%;
            border-radius: 10px;
            transition: 0.5s;
        }

        button:hover {
            background-color: #0180ff;
            color: black;
            border: 1px solid #229BE9;
            border-radius: 15px;
            transition: 0.5s;
        }
    }
}

#notesWrapper {

    .ms-bg-notes {
        background-color: rgb(253, 145, 203);
    }

    .my-wrap-note {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .my-col {
        margin: 5px;
        height: 250px;
        padding: 0.5rem;
        width: calc((100% / 3) - 10px);
        background-color: rgb(253, 145, 203);
        border-radius: 20px;
        box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.1);
        /* Permette lo scrolling verticale */
        overflow-x: hidden;
        /* Nasconde solo l'overflow orizzontale */
    }
}

#my-note-modal {
    .modal-content {
        background-image: url('/img/wave-pink.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .my-modal-content-note {
        height: 70%;
        overflow: hidden;
        overflow-y: auto;
    }

    .my-fa-delete-left {
        cursor: pointer;
        display: flex;
        justify-content: center;
        background-color: #e3f2ffee;
        width: 70%;
        padding: 1rem 0;
        font-size: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(1.08);
            transition: 0.5s;
            background-color: rgba(255, 37, 37, 0.752);
            color: white;
            box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.1);
        }
    }

    .my-p-note {
        font-size: 16px;
        word-wrap: break-word;
        /* Spezza le parole lunghe */
        word-break: break-word;
        /* Spezza le parole lunghe */
        white-space: normal;
        /* Permette il normale comportamento del testo con il wrapping */
        overflow-y: auto;

        scrollbar-width: thin;
        /* "auto" or "thin" */
        scrollbar-color: #1c94fd rgba(253, 255, 253, 0.438);
        /* scroll thumb and track */
    }
}

@media screen and (max-width: 991px) {
    #my-note-modal {

        .my-modal-content-note {
            height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }
    
        .my-fa-delete-left {
            cursor: pointer;
            display: flex;
            justify-content: center;
            background-color: #e3f2ffee;
            width: 70%;
            padding: 1rem 0;
            font-size: 15px;
            border-radius: 10px;
            box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.1);
    
            &:hover {
                transform: scale(1.08);
                transition: 0.5s;
                background-color: rgba(255, 37, 37, 0.752);
                color: white;
                box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.1);
            }
        }
    
        .my-p-note {
            font-size: 16px;
            word-wrap: break-word;
            /* Spezza le parole lunghe */
            word-break: break-word;
            /* Spezza le parole lunghe */
            white-space: normal;
            /* Permette il normale comportamento del testo con il wrapping */
            overflow-y: auto;
    
            scrollbar-width: thin;
            /* "auto" or "thin" */
            scrollbar-color: #1c94fd rgba(253, 255, 253, 0.438);
            /* scroll thumb and track */
        }
    }
    #notesWrapper {

        .my-wrap-note {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
        }
    
        .my-col {
            margin: 5px;
            height: 250px;
            padding: 0.5rem;
            width: calc((100% / 1) - 10px);
            background-color: #FEEF7A;
            border-radius: 20px;
            box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.1);
            /* Permette lo scrolling verticale */
            overflow-x: hidden;
            /* Nasconde solo l'overflow orizzontale */
        }
    }

  }