.thought {
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    min-width: 40px;
    max-width: 420px;
    min-height: 40px;
    margin: 20px;
    position: fixed;
    top: 2%;
    right: 5%;
    z-index: 10000;
    box-shadow: 0px 10px 15px 13px rgba(0, 0, 0, 0.1);
    animation: zoom-in-zoom-out 1.5s ease-out infinite;

    @keyframes zoom-in-zoom-out {
        0% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(1.1, 1.1);
        }

        100% {
            transform: scale(1, 1);
        }
    }

    @media screen and (max-width:520px) {}
}
.no-animation {
    animation: none !important;
}

.thought:before,
.thought:after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}

.thought:before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
    box-shadow: -50px 30px 0 -12px #fff;
}

.thought:after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
    box-shadow: 40px -34px 0 0 #fff,
        -28px -6px 0 -2px #fff,
        -24px 17px 0 -6px #fff,
        -5px 25px 0 -10px #fff;

}

.show-li {
    background-color: beige;
    border: 1px solid rgba(0, 0, 0, 0.069);
    padding: 1rem;
    font-size: 14px;
}
.fadeInRight {
    animation: 3s linear 1s infinite running slidein;
}

